# Gateway
PORT=8000
JWT_PUBLIC_KEY=
USER_SERVICE_URL=http://localhost:4001
BACKEND_URL=http://localhost:4002
ADMIN_URL=http://localhost:4003
REDIS_URL=redis://localhost:6379
CORS_ORIGINS=http://localhost:3000
