# UserService
PORT=4001
DATABASE_URL=postgres://user:pass@localhost:5432/chicaboo
REDIS_URL=redis://localhost:6379
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_REFRESH_SECRET=
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
